/* пишем стили css */
/* aside - левый блок */
/* aside .logo - надмись у логотипа */
/* aside ul li:hover - эффект наведения */
/* aside object - сдвиг подписей иконок */
/* aside ul li - стили подписей иконок */
/* ul img - стили иконок */
/* main .features - стиль страницы index */



body    {
    background: #2c2c2c;
}

aside {
    float: left;
    background: #181818;
    width: 21%;
    padding: 1.2%;
    height: 120vh;
    color: #fff;
    border-right: 5px solid #4d4d4d;
    margin-right: 20px;
    margin-left: -20px;
    overflow: hidden;
}

li  {
    border: 3px solid #fff;
    border-radius: 10px;
    text-align: center;
}


aside img   {
    width: 150px;

}

ul img  {
    width: 35px;
    float: left;
    margin-top: 10px;
}


aside .logo {
    font-size: 45px;
    margin-left: 5px;
    margin-right: 5px;
    font-weight: bold;
    position: relative;
    top: 10px;
}

aside h3    {
    margin-left: 40px;
    margin-top: 30px;
    font-size: 40px;
}


aside ul    {
    list-style: none
}

aside ul li {
    color: #fff;
    display: block;
    margin-top: 35px;
    margin-left: 1px;
    transition: transform .3s ease;
    font-size: 28px;
}

aside ul li:hover, aside ul a:hover   {
    color: #fff;
    text-decoration: ;
    transform: scale(1.05);
    border: 5px;
}

aside object {
    margin-right: 20px;
}

.features  {
    float: left;
    color: #fff;
    margin-top: 100px;
    text-align: center;
    width: 75%;
}

.features h1    {
    font-size: 85px;
    margin-top: -60px;
}

.features p    {
    max-width: 1200px;
    margin: 20px auto;
    font-size: 25px;
}

.features button    {
    padding: 32px 64px;
    font-size: 25px;
}


.calculate button {
    padding: 32px 64px;
    font-size: 25px;
    margin-top: 25px;
}

.calculate h1   {
    color: #fff;
    text-align: center;
    margin-top: 20px;
}

.calculate p    {
    color: #fff;
}

.calculate label    {
    color: #fff;
    font-size: 25px;
}

.calculate form {
    text-align: center;
}

