{% extends 'main/layout.html' %}    <!-- наследуем всё от файла layout.html -->

{% block title %}Энергоэффективность в энергетике{% endblock %}  <!-- сюда помещаем html код (секции из файла layout) -->


{% block content %} <!-- сюда помещаем html код -->
    <div class="features">
        <h1>Энергоэффективность в энергетике</h1>
        <p>Энергоэффективность в энергетике – это мера того, насколько эффективно используются энергетические ресурсы в производственном процессе. Она выражается в соотношении между полученным результатом и затраченной на это энергией.
Целью повышения энергоэффективности является снижение расходов на энергию, уменьшение нагрузки на окружающую среду и сокращение зависимости от импорта энергетических ресурсов.
</p>
        <p>Для повышения энергоэффективности можно использовать следующие мероприятия:
Рациональное использование энергии (ОЭ) и снижение потерь тепла;
Повышение энергоэффективности оборудования;
Установка средств автоматизации управления энергопотреблением:
Использование возобновляемых источников энергии (в том числе солнечной, ветроэнергетической, гидроэнергетической, биомассы и др.).
</p>
        <p>Одной из формул, используемых для расчета энергоэффективности, является формула энергетической эффективности (COP) для охладительных установок:
COP = Q / W
где COP – энергетическая эффективность, Q – тепловой эффект (холод), W – электропотребление полученного холода.
Эта формула позволяет оценить соотношение потребляемой энергии для получения определенного объема охлаждения. Чем выше значение COP, тем более энергоэффективна система охлаждения.
</p>
        <form action="{% url 'calculate_energy_efficiency' %}">
        <button class="btn btn-danger">Перейти к расчётам</button>
        </form>
    </div>
{% endblock %}
