{% extends 'main/layout.html' %}    <!-- наследуем всё от файла layout.html -->

{% block title %}Энергосбережение в энергетике{% endblock %}  <!-- сюда помещаем html код (секции из файла layout) -->


{% block content %} <!-- сюда помещаем html код -->
    <div class="features">
        <h1>Энергосбережение в энергетике</h1>
        <p>Энергосбережение в энергетике – это комплекс мероприятий, направленных на оптимизацию использования энергии и уменьшение потребления энергетических ресурсов. Целью энергосбережения является уменьшение нагрузки на окружающую среду и ресурсосбережение.
Среди мер, направленных на энергосбережение, можно выделить следующие:
Рациональное использование энергии (ОЭ)
Автоматизация и регулирование энергопотребления
Внедрение энергоэффективных технологий
Применение современных технологий производства и обработки энергоресурсов
</p>
        <p>Использование тепловых насосов и альтернативных источников энергии (солнечная, ветроэнергетика, гидроэнергетика).
Важно отметить, что энергосбережение является не только экологически ориентированной стратегией, но и экономически выгодной, поскольку позволяет снизить затраты на производство и эксплуатацию энергетических систем.
</p>
        <p>Одна из формул, используемых для расчета энергосбережения, называется формулой Карно: <br>
η = 1 - Tc/Th
где η – КПД процесса, Tc – температура рабочего тела на выходе из системы, Th – температура источника тепла.
Эта формула позволяет оценить эффективность теплопередачи и определить, какую часть энергии удается сохранить в процессе передачи
</p>
        <form action="{% url 'energy_saving_calc' %}">
            <button class="btn btn-warning">Перейти к расчётам</button>
        </form>

    </div>

<!-- с помощью директивы include можно подключать файл (например, если какая-то секция повторяется на сайте(мб типа шапка сайта)) -->
{% endblock %}
