{% extends 'main/layout.html' %}    <!-- наследуем всё от файла layout.html -->

{% block title %}Ядерная энергетика{% endblock %}  <!-- сюда помещаем html код (секции из файла layout) -->


{% block content %} <!-- сюда помещаем html код -->
        <div class="features">
        <h1>Ядерная энергетика</h1>
            <p>Ядерная энергетика - это отрасль энергетики, связанная с использованием ядерных реакций в качестве источника энергии. Предназначена для производства электроэнергии и покрытия потребностей промышленности.</p>
            <p>Основным принципом работы ядерной энергетики является расщепление атомного ядра, при котором выделяется большое количество энергии в виде тепла. Это тепло передается воде, которая превращается в пар и запускает турбины, которые преобразуют энергию в электричество. Реакции в ядерных реакторах происходят под контролем и не сопровождаются выбросом углекислого газа и других примесей, что делает ядерную энергетику одним из наиболее экологичных способов получения энергии.</p>
            <p>Одной из формул, используемых в ядерной энергетике, является формула массо-энергетического эквивалента:
E = mc^2
где E - массо-энергетический эквивалент, m - масса частицы, c - скорость света.
Эта формула объясняет, что каждая масса имеет эквивалентную энергию, и наглядно демонстрирует количество энергии, которое можно получить от нескольких граммов ядерного топлива, поскольку масса, которая превращается в энергию, очень мала.
</p>
            <form action="{% url 'calculate_nuclear_energy' %}">
                <button class="btn btn-info">Перейти к расчётам</button>
            </form>
    </div>

     <!-- с помощью директивы include можно подключать файл (например, если какая-то секция повторяется на сайте(мб типа шапка сайта)) -->
{% endblock %}